.mf-error {
  border-color: red  ! important;
}

.mf-composite-label {
  font-size: 1.2em;
  font-weight: bold;
}

.mf-field {
  margin: 5px;
}

.mf-composite {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  display: inline-block;
}

.mf-textfield {
}

.mf-checkbox {
}
